*~
.bundle
Gemfile.lock
*.sw?
.idea
*.pyc
.DS_Store
.rbenv*
.rvmrc*
.ruby-*
pkg/
locale/*.mo
locale/*/*.edit.po
locale/*/*.po.time_stamp
locale/*/*.pox
tags
TAGS
.foreman_app
bootloaders
foreman_bootdisk*.gem
node_modules
package-lock.json
coverage
